<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_old.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/runtime.js') }}">

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    <title>Sentiment Analysis - DocFix</title>
</head>
<body>
    <!-- {% block head %}
    <title>DocFix</title>
{% endblock %} -->

{% block body %}
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">DocFix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#"><span class="sr-only">(current)</span>Home </a>
        <a class="nav-item nav-link" href="{{ url_for('summarize') }}">Text Summarization</a>
        <a class="nav-item nav-link active" href="{{ url_for('sentiment') }}">Sentiment Analysis</a>
        <a class="nav-item nav-link" href="#">Title Generator</a>
        <a class="nav-item nav-link" href="#">Keyword Finder</a>
      </div>
    </div>
  </nav> -->
<div class="login">
    <h1 id='title'>Sentiment Analysis</h1>
    <div class='container'>
        <div class='flex-item'>
            <h2>Sentiment Analysis</h2>

            <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('sentiment')}}" method="post">
    	
            <textarea name="text" cols="30" rows="10" placeholder= "{{input}}" required="required" ></textarea>

            <button type="submit" class="btn btn-primary btn-block btn-large">Check Sentiment</button>
            </form>
        </div>
        <div class='flex-item summary senti'>
            <br>
            <br>
            {{ sentiment_label }}
            <br>
            <br>
            {{ sentiment_score}}
        </div>
    </div>
</div>
<a class=" homebtn " href="{{ url_for('home') }}">HomePage</a>

{% endblock %}
</body>
</html>

